*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body{
    font-size: 16px ;
    font-weight: 600;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.first-page{
    background-image: url(../Img/bg.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position:center cover ;
    height: 100vh;
}
a{
    text-decoration: none;
}
header{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
}
.logo{
    cursor: pointer;
    width: 135px;
}
.nav-area{
    list-style: none;
}
.nav-area li{
    display: inline-block;
    padding: 0 15px;
    text-transform: uppercase;
}
.nav-area li a{
    transform: .3s;
    color: whitesmoke;
}
.nav-area li a:hover{
    color: rgb(36, 35, 35);
    transition: .4s ;
}
.btn-area{
    cursor: pointer;
    color: whitesmoke;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 10px 30px;
    border-radius: 25px;
    background: transparent;
    border: solid 2px whitesmoke;
}
.btn-area:hover{
    color: whitesmoke;
    transition: .4s;
}
.main-page{
    height: 75vh;
    display: flex;
}
.main-text{
    position: absolute;
    color: rgb(36, 35, 35);
    font-size: 36px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 200px;
    margin-left: 50rem;
}
.main-icon{
    color: white;
    font-size: 1.5rem;
}
.main-button{
    color: white;
    align-items: center;
}
.main-scroll{
    position: absolute;
    display: flex;
    justify-items: center;
    text-transform: uppercase;
    border: 2px solid white;
    border-radius: 25px;
    cursor: pointer;
    letter-spacing: 2px;
    font-size: 16px;
    padding: 10px 30px;
    background: transparent;
    margin-top: 400px;
    margin-left: 35.25rem;
}
.main-scroll:hover{
    transform: translateY(20px);
    transition: .3s;
}
.second-page{
    height: 85vh;
}
.second-top{
    padding-top: 20px;
    text-align: center;
}
.second-title{
    font-size: 50px;
    color: rgb(36, 35, 35);
    font-weight: 16px;
    text-transform: uppercase;
}
.second-subtitle{
    font-size: 15px;
    color: rgb(83, 83, 83);
}
.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swip1{
    display: flex;
    align-items: center;
}
.swip1-div{
    background: linear-gradient(#614385, #516395);
    height: 400px;
    width: 400px;
    border-radius: 150px 40px 150px 40px;
    margin-left: 40px;
    text-transform: uppercase;
}
.swip2-div{
    background: linear-gradient(#2b5876, #4e4376);
    height: 400px;
    width: 400px;
    border-radius: 40px 150px 40px 150px;
    margin-left: 60px;
    text-transform: uppercase;
}
.swip3-div{
    background: linear-gradient(#cc2b5e, #753a88);
    height: 400px;
    width: 400px;
    border-radius: 150px 40px 150px 40px;
    margin-left: 40px;
    text-transform: uppercase;
}
.swip4-div{
    background: linear-gradient(#ffafbd, #ffc3a0);
    height: 400px;
    width: 400px;
    border-radius: 40px 150px 40px 150px;
    margin-left: 40px;
    text-transform: uppercase;
}
.swip5-div{
    background: linear-gradient(#7b4397, #dc2430);
    height: 400px;
    width: 360px;
    border-radius: 150px 40px 150px 40px;
    margin-left: 40px;
    text-transform: uppercase;
}
.swip6-div{
    background: linear-gradient(#ff9966, #ff5e62);
    height: 400px;
    width: 400px;
    border-radius: 40px 150px 40px 150px;
    margin-left: 40px;
    text-transform: uppercase;
}
.swip1-h{
    color: rgb(36, 35, 35);
    margin-top: 80px;
    font-weight: bold;
    font-size: 36px;
}
.swip1-span{
    font-size: 15px;
    color: rgb(36, 35, 35);
}
.swip1-txt{
    color: whitesmoke;
    margin-top: 15px;
    font-size: 18px;
}
.swip5-txt{
    color: whitesmoke;
    margin-top: 15px;
    font-size: 15px;
}
.swip1-img{
    border-radius: 50px 100px 50px 100px;
    width: 55%;
    margin-left: 80px;
}
.swip3-img{
    border-radius: 50px 100px 50px 100px;
    width: 50%;
    margin-left: 80px;
}
.swip5-img{
    border-radius: 50px 100px 50px 100px;
    width: 55%;
    margin-left: 80px;
}
.swip1-btn{
    cursor: pointer;
    color: whitesmoke;
    font-size: 16px;
    letter-spacing: 2px;
    padding: 10px 30px;
    border-radius: 25px;
    background: transparent;
    border: solid 2px whitesmoke;
}
footer{
    width: 100%;
    position: relative;
    background: #3586ff;
    min-height: 180px;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

footer .social-icon{
    position: absolute;
    display: flex;
    margin: 0px 20px;
    flex-wrap: wrap;
}

footer .social-icon li{
    list-style: none;
}

footer .social-icon li a{
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}
.txt-footer{
    position: absolute;
    padding-top: 30px;
    font-size: 15px;
    font-weight: 200;
    color: white;
    text-align: center;
    padding-left: 40x;
}

footer{
    margin-top: 70px;
    color: #fff;
    font-size: 13px;
}

footer .wave{
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(../Img/wave.png);
    background-size: 1000px 100px;
}

footer .wave#wave1{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}
footer .wave#wave2{
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave_02 4s linear infinite;
}
footer .wave#wave3{
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave 3s linear infinite;
}
footer .wave#wave4{
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave_02 3s linear infinite;
}
@keyframes animateWave{
    0%
    {
        background-position-x: 1000px;
    }
    100%
    {
        background-position-x: 0px;
    }
}
@keyframes animateWave_02{
    0%
    {
        background-position-x: 0px;
    }
    100%
    {
        background-position-x: 1000px;
    }
}
body::-webkit-scrollbar {
    width: 1em;
}
   
body::-webkit-scrollbar-track {
    background-color: transparent;
}
   
body::-webkit-scrollbar-thumb {
    background-color: #3586ff;
    outline: 1px rgb(36, 35, 35);
    border-radius: 25px;
}